root = true

[*]
end_of_line = lf
insert_final_newline = true

charset = utf-8

[*.{html,css}]
indent_style = space
indent_size = 2


[*.{jsx,tsx,ts,js,cjs,mjs}]
indent_style = space
indent_size = 2

[*.{json,yaml,yml}]
indent_style = space
indent_size = 2
