header {
  @apply w-full lg:max-w-6xl lg:mx-auto flex justify-between items-center py-4 px-8;
  @apply sticky top-0;
}

header svg {
  @apply text-indigo-500 hover:text-violet-600;
}

header h1 {
  @apply text-black dark:text-gray-400;
}

/* reset */
button {
  all: unset;
}

.SwitchRoot {
  @apply relative bg-black dark:bg-zinc-900 rounded-full p-1 shadow-inner;
  @apply focus:outline focus:outline-offset-2 focus:outline-2 dark:focus:outline-indigo-400 focus:outline-indigo-600;
  width: 48px;
  height: 22px;
}

.SwitchRoot[data-state='checked'] {
  @apply bg-zinc-900 shadow-inner;
}

.SwitchThumb[data-state='checked'] {
  transform: translateX(25px);
}

.SwitchThumb {
  @apply block bg-white rounded-full shadow transition-transform will-change-transform;
  @apply dark:bg-indigo-400 dark:hover:bg-indigo-600 transition-colors;
  width: 22px;
  height: 22px;
  transform: translateX(0);
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
}
