@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  :root {
    --rosewater: hsl(11, 59%, 67%);
    --flamingo: hsl(0, 60%, 67%);
    --pink: hsl(316, 73%, 69%);
    --mauve: hsl(266, 85%, 58%);
    --red: hsl(347, 87%, 44%);
    --maroon: hsl(355, 76%, 59%);
    --peach: hsl(22, 99%, 52%);
    --yellow: hsl(35, 77%, 49%);
    --green: hsl(109, 58%, 40%);
    --teal: hsl(183, 74%, 35%);
    --sky: hsl(197, 97%, 46%);
    --sapphire: hsl(189, 70%, 42%);
    --blue: hsl(220, 91%, 54%);
    --lavender: hsl(231, 97%, 72%);
    --text: hsl(234, 16%, 35%);
    --subtext1: hsl(233, 13%, 41%);
    --subtext0: hsl(233, 10%, 47%);
    --overlay2: hsl(232, 10%, 53%);
    --overlay1: hsl(231, 10%, 59%);
    --overlay0: hsl(228, 11%, 65%);
    --surface2: hsl(227, 12%, 71%);
    --surface1: hsl(225, 14%, 77%);
    --surface0: hsl(223, 16%, 83%);
    --base: hsl(220, 23%, 95%);
    --mantle: hsl(220, 22%, 92%);
    --crust: hsl(220, 21%, 89%);

    --background: var(--base);
    --foreground: var(--text);
    --card: var(--base);
    --card-foreground: var(--text);
    --popover: var(--base);
    --popover-foreground: var(--text);
    --primary: var(--mauve);
    --primary-foreground: var(--base);
    --secondary: var(--surface0);
    --secondary-foreground: var(--text);
    --muted: var(--surface0);
    --muted-foreground: var(--subtext1);
    --accent: var(--lavender);
    --accent-foreground: var(--base);
    --destructive: var(--red);
    --destructive-foreground: var(--base);
    --border: var(--surface0);
    --input: var(--surface0);
    --ring: var(--mauve);
    --radius: 0.5rem;
    --chart-1: var(--maroon);
    --chart-2: var(--teal);
    --chart-3: var(--blue);
    --chart-4: var(--yellow);
    --chart-5: var(--green);
  }

  .dark {
    --rosewater: hsl(10, 56%, 91%);
    --flamingo: hsl(0, 59%, 88%);
    --pink: hsl(316, 72%, 86%);
    --mauve: hsl(267, 84%, 81%);
    --red: hsl(343, 81%, 75%);
    --maroon: hsl(350, 65%, 77%);
    --peach: hsl(23, 92%, 75%);
    --yellow: hsl(41, 86%, 83%);
    --green: hsl(115, 54%, 76%);
    --teal: hsl(170, 57%, 73%);
    --sky: hsl(189, 71%, 73%);
    --sapphire: hsl(199, 76%, 69%);
    --blue: hsl(217, 92%, 76%);
    --lavender: hsl(232, 97%, 85%);
    --text: hsl(226, 64%, 88%);
    --subtext1: hsl(227, 35%, 80%);
    --subtext0: hsl(228, 24%, 72%);
    --overlay2: hsl(228, 17%, 64%);
    --overlay1: hsl(230, 13%, 55%);
    --overlay0: hsl(231, 11%, 47%);
    --surface2: hsl(233, 12%, 39%);
    --surface1: hsl(234, 13%, 31%);
    --surface0: hsl(237, 16%, 23%);
    --base: hsl(240, 21%, 15%);
    --mantle: hsl(240, 21%, 12%);
    --crust: hsl(240, 23%, 9%);

    --background: var(--mantle);
    --foreground: var(--text);
    --card: var(--base);
    --card-foreground: var(--text);
    --popover: var(--base);
    --popover-foreground: var(--text);
    --primary: var(--mauve);
    --primary-foreground: var(--base);
    --secondary: var(--surface0);
    --secondary-foreground: var(--text);
    --muted: var(--surface2);
    --muted-foreground: var(--subtext1);
    --accent: var(--mauve);
    --accent-foreground: var(--base);
    --destructive: var(--red);
    --destructive-foreground: var(--base);
    --border: var(--surface0);
    --input: var(--surface0);
    --ring: var(--mauve);
    --radius: 0.5rem;
    --chart-1: var(--maroon);
    --chart-2: var(--teal);
    --chart-3: var(--blue);
    --chart-4: var(--yellow);
    --chart-5: var(--green);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply selection:bg-blue-400 selection:text-white;
    font-size: 100%;
  }

  input,
  textarea {
    @apply transition-colors;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  scroll-margin: 50px 0 0 50px;
  @apply m-2;
}

::-webkit-scrollbar-track {
  @apply rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-blend-overlay rounded-full transition-all;
  @apply hover:bg-blend-overlay;
}
